
.ball { 
    border-radius: 50%;
    background-color: blue;
    height: 50px;
    width: 50px;
    border: none;
    transition-property: left;
    transition-duration: 10s;
    transition-timing-function: ease;
    -webkit-transition-property: left;
    -webkit-transition-duration: 10s;
    -webkit-transition-timing-function: ease;
}


.ball-abs-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.ball-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.ball-abs-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ball-abs-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.anim-enter {
    opacity: 0.01;
  }
   
  .anim-enter.anim-enter-active {
    opacity: 2;
    transition: opacity 5s ease-in;
    -webkit-transition: opacity 5s ease-in;
    
  }